Flask
flask-sqlalchemy
psycopg2-binary
python-dotenv
folium
werkzeug
aiosmtplib
fastapi==0.115.13
uvicorn==0.34.3
sqlalchemy==2.0.41
psycopg2-binary==2.9.10
python-multipart==0.0.20
passlib[bcrypt]==1.7.4
bcrypt==3.2.0
python-jose==3.5.0
Jinja2==3.1.6
pydantic==2.11.7
starlette==0.46.2
typing_extensions==4.14.0
anyio==4.9.0
email-validator
aiosmtplib
aiofiles
slowapi